@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,p,a {
  color: #0c0b0b;
}

h3,h4 {
  color: #ffffff;
}

body {
  margin: 0;
  font-family: 'outfit', sans-serif;
  font-family: "Outfit" 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #030303;
  background: black;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.btn {
 padding: 12px 32px;
 font-size: 1.5rem;
 text-transform: uppercase;
 background: transparent;
 color: black;
 border: 1pz solid #fff;
 cursor: pointer;
 font-weight: bold;
 border: black solid 4px;
}

.btn-light {
  background: rbba(255,255,255, .2);
}
.btn:hover {
  background: rbba(255,255,255, .2);
}



